<h3> Listado Heroes </h3>
<br>

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Hero deleted <small class="text-danger"> {{deletedHero}} </small></h3>
</div>


<ng-template #nothingWasDeleted>
    <h3> nothing was deleted</h3>
</ng-template>


<button 
    *ngIf="heroNames.length > 0" 
    (click)="removeLastHero()" 
    class="btn btn-outline-danger">
    Delete last hero
</button>


<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" 
        class="list-group-item">
        {{ name }}
    </li>
</ul>
